mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+img('img/svg/bg-1.svg').bg.bg--1
			+img('img/svg/bg-2.svg').bg.bg--2
			+img('img/svg/logo.svg').logo
			//- +e.lang-content
			//- 		.h1 Добро пожаловать в Бблиотеку Вкусных Рецептов
			//- 		+e.choose Выберите свой языки
			+e.lang-content
					.h1(class="change-lang" data-ru-RU=` Добро&nbsp;пожаловать в&nbsp;библиотеку <br> вкусных&nbsp;рецептов` data-en=" Welcome to&nbsp;the&nbsp;Library <br> of&nbsp;Delicious&nbsp;Recipes" data-es-ES="Bienvenido a&nbsp;la biblioteca&nbsp;<br>&nbsp;de deliciosas&nbsp;recetas") Welcome to&nbsp;the&nbsp;Library <br> of&nbsp;Delicious&nbsp;Recipes
					+e.choose(class="change-lang" data-ru-RU="Выберите свой язык" data-en="Choose your language" data-es-ES="Elige tu idioma") Choose your language
			//- +e.lang-content
			//- 		.h1 Bienvenido a la Biblioteca de Deliciosas Recetas
			//- 		+e.choose Elige tu idioma
			+e.row.row
				.col-auto
					+e.lang
						label
							input(type="radio", name="lang"  value='ru-RU')
							+img(`img/flag-1.png`)
							span Русский
				.col-auto
					+e.lang
						label
							input(type="radio", name="lang" value='en')
							+img(`img/flag-2.png`)
							span English
				.col-auto
					+e.lang
						label
							input(type="radio", name="lang"  value='es-ES')
							+img(`img/flag-3.png`)
							span Español
				-for(let i = 4; i<=9; i++)
					.col-auto
						+e.lang.disabled
							label
								input(type="radio", name="lang" disabled)
								+img(`img/flag-${i}.png`)
			+e.btn(href="#" data-href-ru-RU="https://ru.ipepper.org" data-href-es-ES="https://es.ipepper.org" data-href-en="https://en.ipepper.org" data-ru-RU=`Перейти` data-en="Apply" data-es-ES="Pasarse").btn.btn-primary.change-lang Apply
				//- +icon('chevron-right')
			+e.reserved © 2022 – iPepper.org. All rights reserved.
	// end headerBlock