mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+img('img/svg/bg-1.svg').bg.bg--1
			+img('img/svg/bg-2.svg').bg.bg--2
			+img('img/svg/logo.svg').logo
			//- +e.lang-content
			//- 		.h1 Добро пожаловать в Бблиотеку Вкусных Рецептов
			//- 		+e.choose Выберите свой языки
			+e.lang-content
					.h1(class="change-lang" data-rus=` Добро пожаловать в библиотеку <br> вкусных рецептов` data-eng=" Welcome to the Library <br> of Delicious Recipes" data-esp="Bienvenido a la biblioteca <br> de deliciosas recetas") Welcome to the Library <br> of Delicious Recipes
					+e.choose(class="change-lang" data-rus="Выберите свой язык" data-eng="Choose your language" data-esp="Elige tu idioma") Choose your language
			//- +e.lang-content
			//- 		.h1 Bienvenido a la Biblioteca de Deliciosas Recetas
			//- 		+e.choose Elige tu idioma
			+e.row.row
				.col-auto
					+e.lang
						label
							input(type="radio", name="lang" value='rus')
							+img(`img/flag-1.png`)
							span Русский
				.col-auto
					+e.lang
						label
							input(type="radio", name="lang" value='eng')
							+img(`img/flag-2.png`)
							span English
				.col-auto
					+e.lang
						label
							input(type="radio", name="lang"  value='esp')
							+img(`img/flag-3.png`)
							span Español
				-for(let i = 4; i<=9; i++)
					.col-auto
						+e.lang.disabled
							label
								input(type="radio", name="lang" disabled)
								+img(`img/flag-${i}.png`)
			+e.btn(href="#" data-rus=`Перейти` data-eng="Apply" data-esp="Pasarse").btn.btn-primary Apply
				//- +icon('chevron-right')
			+e.reserved © 2022 – iPepper.org. All rights reserved.
	// end headerBlock